:root {
    // --background-color: rgb(255, 252, 247);
    --background-color: white;
    --orange-font-color: #FA9039;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navigation-container {
    min-width: 1100px;
    background: var(--background-color);
}

header {
    padding: 3em 7em;

    .logo {
        font-size: 34px;
        font-weight: bold;
        color: black;
    }

    .face {
        height: 100%;
        margin-top: 9px;
        margin-left: 10px;
    }

    nav {
        float: right;

        ul {
            display: flex;  

            li {
                display: block;
                margin-top: 10px;
                margin-left: 9em;
                position: relative;
            }
            
            a {
                color: var(--orange-font-color);
            }

            a:hover {
                color: black;
            }

            a::after {
                content: "";
                display: block;
                height: 2px;
                background-color: var(--orange-font-color);

                position: absolute;
                width: 0%;

                transition: all ease-in-out 250ms;
            }

            a:hover::after {
                width: 100%;
            }
        }
    }
}

.hook {
    background: var(--background-color);
    margin-top: 9em;
    display: flex;
    align-items: center;

    .hook-text {
        margin: 0 auto;
        text-align: left;
        line-height: 60px;

        h1 {
            font-size: 64px;
            padding-bottom: 15px;
        }

        h2, ul {
            font-weight: normal;
            font-size: 34px;
            color: #9E9E9E;
        }

        ul {
            padding-left: 1em;
        }
    }

    .hook-img {
        margin: 0 auto;
        padding-top: 1em;
    }
}

.about-arrow {
    text-align: center;
    width: 100%;
    margin-top: 16em;
    margin-bottom: 5em;

    a {
        display: inline-block;
        margin: 0 auto;
        font-size: 15px;
        font-weight: normal;
        color: var(--orange-font-color);
    }

    a:hover {
        color: black;
    }

    .arrow-img {
        height: 15px;
        width: 10px;
        display: block;
        padding-top: 0.5em;
        margin: 0 auto;
    }
    
    .arrow-img:hover {
        display: none;
    }
}

section:not(.about, .contact, .github) {
    padding: 4em 7em;
    background-color: black;
}

.about {
    background: var(--orange-font-color);
    scroll-behavior: smooth;

    .curved-upper-upper {
        display: flex;
        width: 100%;
        position: absolute;
        background-color: white;
    }

    .curved-upper {
        position: relative;
        display: flex;
    }

    .curved-lower {
        display: flex;
    }
    
    .information {
        padding-top: 0.5em;   
        padding-bottom: 5em;
        text-align: center;
        display: flex;
        justify-content: space-between;
        line-height: 40px;

        .about-student {
            padding-left: 18em;
        }

        .about-programmer {
            padding-right: 18em;
        }

        h1, p {
            color: white;
        }

        h1 {
            padding-top: 30px;
            padding-bottom: 20px;
            font-size: 40px;
        }

        p {
            font-size: 23px;
        }
    }
}

.projects {
    
    h1 {
        margin-top: -2em;
        color: white;
        text-align: center;
        font-size: 50px;
    }

    h2 {
        color: white;
        padding-bottom: 1em;
        font-weight: normal;
        text-align: center;
    }

    h3 {
        font-size: 25px;
        font-weight: 600;
        padding: 20px 0;
    }


    .projects-container ul {
        padding: 2em 10em;
        display: grid;
        justify-content: space-between;
        grid-template-columns: 24em 24em 24em;

        .icon {
            margin-top: 1.8em;
            height: 250px;
            display: grid;
            place-content: center;
            padding: 2em 0;
            background-color: var(--orange-font-color);
            border-radius: 1em;

            // &.one {
            // }

            // &.two {
            // }
            
            // &.three {
            // }
        }

        .icon:hover {
            transform: rotate(3deg);
        }
    }

    li {
        background: white;
        border-radius: 1em;
        padding: 0.3em 2em;
        text-align: left;
        font-size: 15px;
        line-height: 24px;
    }

    p {
        padding-bottom: 20px;
    }

    .desc {
        color: var(--orange-font-color);
        padding-bottom: 20px;
    }
}

.github {

    .container {
        margin-top: -50px;
        padding: 1em 0;
        background-color: #000;
        text-align: center;
    }

    .curved-lower {
        display: flex;
        margin-top: -15px;
        background: black;
        width: 100%;
    }

    a {
        color: white;
        font-weight: bold;
        font-size: 30px;
    }

    a:hover {
        color: var(--orange-font-color);
    }
}

.contact {
    height: 700px;
    z-index: 100;

    .form {
        margin: 0 auto;
        background-color: white;
        height: 440px;
        width: 400px;
        justify-content: center;

        h2 {
            color: white;
            font-size: 45px;
            padding-bottom: 5px;
            text-align: center;
        }

        p {
            color: white;
            font-size: 16px;
            text-align: center;
        }

        .card {
            padding: 3em;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
            background-color: var(--orange-font-color);
            border-radius: 1em;
            height: 100%;
        }

        .form-control {
            margin: 30px auto;
            text-align: center;
        }

        input[type='text'], input[type='email'] {
            background-color: var(--orange-font-color);
            border: 0;
            border-bottom: 2px solid white;
            width: 100%;
            font-size: 16px;
            padding: 4px 2px;
            color: white;
        }

        input[type='submit'] {
            margin-top: 1em;
            width: 100%;
        }

        .btn {
            margin-top: 0.5em;
            padding: 10px 30px;
            cursor: pointer;
            background: white;
            border: none;
            border-radius: 5px;
            color: var(--orange-font-color);
            font-weight: 600;
        }

        .btn:hover {
            transform: scale(0.95);
            background: rgb(235, 235, 235);
        }

        input::placeholder {
            color: white;
        }

        input:focus {
            outline: none;
        }
    }
}

footer {
    background-color: #000;
    height: 50px;
}

@media all and (max-width: 1470px) {
    .hook-img {
        display: none;
    }
}